body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-47px;
  width:1116px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20025 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:38px;
  width:528px;
  height:461px;
  display:flex;
}
#u20025 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u20025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20026 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:38px;
  width:528px;
  height:461px;
  display:flex;
}
#u20026 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u20026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20027 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:542px;
  width:528px;
  height:309px;
  display:flex;
}
#u20027 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u20027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20028 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:542px;
  width:528px;
  height:309px;
  display:flex;
}
#u20028 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u20028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
