body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-47px;
  width:1116px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22383 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:38px;
  width:528px;
  height:461px;
  display:flex;
}
#u22383 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u22383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22384 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:38px;
  width:528px;
  height:461px;
  display:flex;
}
#u22384 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u22384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22385 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:542px;
  width:528px;
  height:309px;
  display:flex;
}
#u22385 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u22385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22386 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:542px;
  width:528px;
  height:309px;
  display:flex;
}
#u22386 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u22386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
