body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:793px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u22908 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:711px;
  width:375px;
  height:667px;
  display:flex;
}
#u22908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:575px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22909 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:757px;
  width:375px;
  height:575px;
  display:flex;
}
#u22909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1890FF;
}
#u22910 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:778px;
  width:40px;
  height:18px;
  display:flex;
  font-size:20px;
  color:#1890FF;
}
#u22910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7F7F7F;
}
#u22911 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:868px;
  width:271px;
  height:129px;
  display:flex;
  font-size:18px;
  color:#7F7F7F;
}
#u22911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:671px;
}
#u22912 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:711px;
  width:378px;
  height:671px;
  display:flex;
}
#u22912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u22913 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:846px;
  width:362px;
  height:222px;
  display:flex;
  opacity:0.3;
  color:#FFFF00;
}
#u22913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:114px;
  background:inherit;
  background-color:rgba(247, 244, 6, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22914 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1122px;
  width:451px;
  height:114px;
  display:flex;
}
#u22914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7F7F7F;
}
#u22915 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:823px;
  width:271px;
  height:29px;
  display:flex;
  font-size:18px;
  color:#7F7F7F;
}
#u22915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u22916 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:15px;
  width:375px;
  height:667px;
  display:flex;
}
#u22916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u22917 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:15px;
  width:375px;
  height:667px;
  display:flex;
}
#u22917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:525px;
  background:inherit;
  background-color:rgba(247, 250, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22918 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:86px;
  width:375px;
  height:525px;
  display:flex;
}
#u22918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1890FF;
}
#u22919 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:111px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#1890FF;
}
#u22919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u22920 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:133px;
  width:75px;
  height:18px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u22920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u22921 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:153px;
  width:309px;
  height:1px;
  display:flex;
}
#u22921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1890FF;
}
#u22922 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:166px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#1890FF;
}
#u22922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u22923 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:187px;
  width:75px;
  height:18px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u22923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u22924 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:208px;
  width:309px;
  height:1px;
  display:flex;
}
#u22924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1890FF;
}
#u22925 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:220px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#1890FF;
}
#u22925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u22926 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:241px;
  width:75px;
  height:18px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u22926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u22927 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:265px;
  width:309px;
  height:1px;
  display:flex;
}
#u22927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:58px;
  background:inherit;
  background-color:rgba(247, 244, 6, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22928 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:391px;
  width:216px;
  height:58px;
  display:flex;
}
#u22928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u22929 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:312px;
  width:364px;
  height:112px;
  display:flex;
  opacity:0.3;
  color:#FFFF00;
}
#u22929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:58px;
  background:inherit;
  background-color:rgba(247, 244, 6, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22930 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:464px;
  width:216px;
  height:58px;
  display:flex;
}
#u22930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
