body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-91px;
  width:643px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23007 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:82px;
  width:100px;
  height:60px;
  display:flex;
}
#u23007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23008 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:82px;
  width:100px;
  height:60px;
  display:flex;
}
#u23008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23009 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:348px;
  width:100px;
  height:60px;
  display:flex;
}
#u23009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23010 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:82px;
  width:100px;
  height:60px;
  display:flex;
}
#u23010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23011 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:217px;
  width:100px;
  height:60px;
  display:flex;
}
#u23011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23012 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:82px;
  width:100px;
  height:60px;
  display:flex;
}
#u23012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23013 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:217px;
  width:100px;
  height:60px;
  display:flex;
}
#u23013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23014 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:348px;
  width:100px;
  height:60px;
  display:flex;
}
#u23014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23015 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:348px;
  width:100px;
  height:60px;
  display:flex;
}
#u23015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23016 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:112px;
  width:0px;
  height:0px;
}
#u23016_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u23016_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23016_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23017 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:112px;
  width:0px;
  height:0px;
}
#u23017_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:88px;
  height:10px;
}
#u23017_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23017_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23018 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:112px;
  width:0px;
  height:0px;
}
#u23018_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:87px;
  height:10px;
}
#u23018_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23018_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23019 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:142px;
  width:0px;
  height:0px;
}
#u23019_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u23019_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:63px;
  width:20px;
  height:20px;
}
#u23019_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23020 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:277px;
  width:0px;
  height:0px;
}
#u23020_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:76px;
}
#u23020_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u23020_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23021 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:378px;
  width:0px;
  height:0px;
}
#u23021_seg0 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-5px;
  width:87px;
  height:10px;
}
#u23021_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23021_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23022 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:378px;
  width:0px;
  height:0px;
}
#u23022_seg0 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-5px;
  width:88px;
  height:10px;
}
#u23022_seg1 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23022_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23023 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:348px;
  width:0px;
  height:0px;
}
#u23023_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-71px;
  width:10px;
  height:76px;
}
#u23023_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-79px;
  width:20px;
  height:20px;
}
#u23023_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23024 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:247px;
  width:0px;
  height:0px;
}
#u23024_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:138px;
  height:10px;
}
#u23024_seg1 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-105px;
  width:10px;
  height:110px;
}
#u23024_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-113px;
  width:20px;
  height:20px;
}
#u23024_text {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u23025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23025 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:348px;
  width:100px;
  height:60px;
  display:flex;
}
#u23025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23026 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:247px;
  width:0px;
  height:0px;
}
#u23026_seg0 {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-5px;
  width:133px;
  height:10px;
}
#u23026_seg1 {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-5px;
  width:10px;
  height:106px;
}
#u23026_seg2 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:89px;
  width:20px;
  height:20px;
}
#u23026_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
