body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-101px;
  width:1162px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16869 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:64px;
  width:100px;
  height:60px;
  display:flex;
}
#u16869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16870 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:219px;
  width:100px;
  height:60px;
  display:flex;
}
#u16870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16871 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:477px;
  width:100px;
  height:60px;
  display:flex;
}
#u16871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16872 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:124px;
  width:0px;
  height:0px;
}
#u16872_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:100px;
}
#u16872_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u16872_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16873 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:477px;
  width:100px;
  height:60px;
  display:flex;
}
#u16873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16874 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:64px;
  width:100px;
  height:60px;
  display:flex;
}
#u16874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16875 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:219px;
  width:100px;
  height:60px;
  display:flex;
}
#u16875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16876 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:219px;
  width:100px;
  height:60px;
  display:flex;
}
#u16876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16877 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:219px;
  width:100px;
  height:60px;
  display:flex;
}
#u16877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16878 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:219px;
  width:100px;
  height:60px;
  display:flex;
}
#u16878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16879 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:279px;
  width:0px;
  height:0px;
}
#u16879_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:203px;
}
#u16879_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:186px;
  width:20px;
  height:20px;
}
#u16879_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:91px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16880 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:507px;
  width:0px;
  height:0px;
}
#u16880_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u16880_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-418px;
  width:10px;
  height:423px;
}
#u16880_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-418px;
  width:298px;
  height:10px;
}
#u16880_seg3 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-423px;
  width:20px;
  height:20px;
}
#u16880_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-342px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16881 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:124px;
  width:0px;
  height:0px;
}
#u16881_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u16881_seg1 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:41px;
  width:250px;
  height:10px;
}
#u16881_seg2 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:41px;
  width:10px;
  height:54px;
}
#u16881_seg3 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:83px;
  width:20px;
  height:20px;
}
#u16881_text {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16882 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:124px;
  width:0px;
  height:0px;
}
#u16882_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u16882_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:42px;
  width:75px;
  height:10px;
}
#u16882_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:42px;
  width:10px;
  height:53px;
}
#u16882_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:83px;
  width:20px;
  height:20px;
}
#u16882_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:39px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16883 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:124px;
  width:0px;
  height:0px;
}
#u16883_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u16883_seg1 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:41px;
  width:108px;
  height:10px;
}
#u16883_seg2 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:41px;
  width:10px;
  height:54px;
}
#u16883_seg3 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:83px;
  width:20px;
  height:20px;
}
#u16883_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16884 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:124px;
  width:0px;
  height:0px;
}
#u16884_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u16884_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:41px;
  width:251px;
  height:10px;
}
#u16884_seg2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:41px;
  width:10px;
  height:54px;
}
#u16884_seg3 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:83px;
  width:20px;
  height:20px;
}
#u16884_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16885 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:347px;
  width:100px;
  height:60px;
  display:flex;
}
#u16885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16886 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:279px;
  width:0px;
  height:0px;
}
#u16886_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u16886_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u16886_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16887 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:477px;
  width:100px;
  height:60px;
  display:flex;
}
#u16887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16888 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:407px;
  width:0px;
  height:0px;
}
#u16888_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u16888_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u16888_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16889 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:347px;
  width:100px;
  height:60px;
  display:flex;
}
#u16889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16890 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:279px;
  width:0px;
  height:0px;
}
#u16890_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u16890_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u16890_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16891 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:407px;
  width:0px;
  height:0px;
}
#u16891_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:198px;
}
#u16891_seg1 {
  border-width:0px;
  position:absolute;
  left:-844px;
  top:188px;
  width:849px;
  height:10px;
}
#u16891_seg2 {
  border-width:0px;
  position:absolute;
  left:-844px;
  top:130px;
  width:10px;
  height:68px;
}
#u16891_seg3 {
  border-width:0px;
  position:absolute;
  left:-849px;
  top:122px;
  width:20px;
  height:20px;
}
#u16891_text {
  border-width:0px;
  position:absolute;
  left:-404px;
  top:185px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16892 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:507px;
  width:0px;
  height:0px;
}
#u16892_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u16892_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16892_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16893 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:64px;
  width:100px;
  height:60px;
  display:flex;
}
#u16893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16894 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:94px;
  width:0px;
  height:0px;
}
#u16894_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:146px;
  height:10px;
}
#u16894_seg1 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16894_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16895 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:64px;
  width:100px;
  height:60px;
  display:flex;
}
#u16895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16896 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:94px;
  width:0px;
  height:0px;
}
#u16896_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:128px;
  height:10px;
}
#u16896_seg1 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16896_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16897 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:279px;
  width:0px;
  height:0px;
}
#u16897_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:295px;
}
#u16897_seg1 {
  border-width:0px;
  position:absolute;
  left:-337px;
  top:285px;
  width:342px;
  height:10px;
}
#u16897_seg2 {
  border-width:0px;
  position:absolute;
  left:-337px;
  top:258px;
  width:10px;
  height:37px;
}
#u16897_seg3 {
  border-width:0px;
  position:absolute;
  left:-342px;
  top:250px;
  width:20px;
  height:20px;
}
#u16897_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:282px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
