body {
  margin:0px;
  background-color:rgba(241, 241, 241, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:7px;
  width:30px;
  height:38px;
  display:flex;
}
#u4665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:20px;
  width:7px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:974px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:200px;
  height:974px;
  display:flex;
}
#u4667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:66px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4669 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:76px;
  width:25px;
  height:25px;
  display:flex;
}
#u4670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:70px;
  width:25px;
  height:38px;
  display:flex;
}
#u4672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:86px;
  width:14px;
  height:9px;
  display:flex;
}
#u4673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:111px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4674 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:147px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4675 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:192px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4677 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4678 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:202px;
  width:25px;
  height:25px;
  display:flex;
}
#u4678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4681 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:196px;
  width:25px;
  height:38px;
  display:flex;
}
#u4681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u4682 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:212px;
  width:14px;
  height:9px;
  display:flex;
}
#u4682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4683 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:237px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u4683 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(42, 190, 191, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4684 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1440px;
  height:50px;
  display:flex;
}
#u4684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(42, 190, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4685 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:5px;
  width:355px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u4687 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:16px;
  width:116px;
  height:19px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u4687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4688 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:16px;
  width:16px;
  height:19px;
  display:flex;
}
#u4688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u4689 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:39px;
  height:33px;
  display:flex;
}
#u4689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(42, 190, 191, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4690 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:0px;
  width:116px;
  height:50px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4690 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4690_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4690.mouseOver {
}
#u4690_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4690.selected {
}
#u4690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(42, 190, 191, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4691 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:116px;
  height:50px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4691 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4691_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4691.mouseOver {
}
#u4691_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4691.selected {
}
#u4691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(42, 190, 191, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4692 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:0px;
  width:116px;
  height:50px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4692 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4692_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4692.mouseOver {
}
#u4692_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4692.selected {
}
#u4692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(42, 190, 191, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4693 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:116px;
  height:50px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4693 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4693_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4693.mouseOver {
}
#u4693_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u4693.selected {
}
#u4693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4694 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:58px;
  width:198px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u4694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
