body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20825 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:86px;
  width:200px;
  height:496px;
  display:flex;
}
#u20825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20826 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:147px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20826 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20828 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:102px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20828 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20829 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:112px;
  width:25px;
  height:25px;
  display:flex;
}
#u20829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20831 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:106px;
  width:25px;
  height:38px;
  display:flex;
}
#u20831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u20832 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:122px;
  width:14px;
  height:9px;
  display:flex;
}
#u20832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20833 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:190px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20833 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20834 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:235px;
  width:201px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#606266;
  text-align:left;
}
#u20834 .text {
  position:absolute;
  align-self:center;
  padding:12px 20px 12px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20836 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:7px;
  width:30px;
  height:38px;
  display:flex;
}
#u20836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u20837 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:20px;
  width:7px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u20837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u20838 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:39px;
  height:33px;
  display:flex;
}
#u20838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20839 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1440px;
  height:50px;
  display:flex;
}
#u20839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20840 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:5px;
  width:239px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u20842 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:16px;
  width:116px;
  height:19px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u20842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u20843 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:16px;
  width:16px;
  height:19px;
  display:flex;
}
#u20843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u20844 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:39px;
  height:33px;
  display:flex;
}
#u20844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
